---
layout: page
title: "About"
description: "about me."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> React module </option>
    <option value="1"> 说人话 </option>
</select>

<!-- Chinese Version -->
<div class="post-container">

    <!--copied from markdown -->
    <blockquote><p>前端，坑无止境<br></p></blockquote>
    <div class="code-me">
        <pre>
import FrontendDevelper from 'FrontendDevelper';
import { html, css, javascript } from 'FrontendBase';
import { sass, less } from 'CSSPrecompile';
import { require, sea, webpack } from 'ModuleLoader';
import { grunt, gulp } from 'Automation';
import { jquery, react, redux } from 'Framework';

class Guoyonglong extends FrontendDevelper {
    constructor(props) {
        super(props);

        this.state = {
            name: '郭永龙',
            sex: 'man',
            age: new Date().getFullYear() - 1988,
            email: 'memotail@163.com',
            github: 'https://github.com/memotail',
            blog: 'memotail.com',
            company: '明源云采购'
        };
    }

    helloworld() {
        const {
            name,
            company
        } = this.state;

        return (
            &lt;p>
            我是{ name }，目前任职于{ company }，担任前端小组组长，负责{ company }PC、移动开发、技术预演以及架构搭建。
            &lt;/p>
        );
    }

    render() {
        return (
            &lt;div>
                { this.helloworld() }  
            &lt;/div>
        );
    }
}

export default Guoyonglong;
        </pre>
    </div>

    <div class="html-me">
        <p>我是郭永龙，目前任职于明源云采购，担任前端小组组长，负责明源云采购PC、移动开发、技术预演以及架构搭建。</p>
        <h5>Technology Stack</h5>
        <ul>
            <li>html、js、css、less、sass</li>
            <li>require.js、sea.js</li>
            <li>jquery、vue、react、redux</li>
            <li>grunt、gulp、webpack、babel</li>
            <li>nodejs、express</li>
        </ul>
    </div>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $code = document.querySelector(".code-me");
    var $html = document.querySelector(".html-me");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // html
        if(_hash == "#html"){
            $select.selectedIndex = 1;
            $html.style.display = "block";
            $code.style.display = "none";
        // code by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $code.style.display = "block";
            $html.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#code"
        }else{
            window.location.hash = "#html"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
